<div class="fa_field">
    <input
        type="hidden"
        data-ng-model="field.value"
        class="fa-field-input"
        id="field_{{ item.id }}_{{ field.id }}"
    />

    <button
        type="button"
        class="ikcs-btn fa_field-select-icon"
        data-ng-click="showSelectFaIcon('.fa_field-popup', field)">
        <span data-ng-if="field.value == ''">{{ languages.select_icon }}</span>
        <span data-ng-if="field.value != ''">{{ languages.edit_icon }}</span>
    </button>

    <div class="fa_field-icon" data-ng-if="field.value != ''">
        <i class="fa {{ field.value }}"></i>
    </div>

    <div class="fa_field-icon-name" data-ng-if="field.value != ''">
        {{ field.value }}
        <button
                type="button"
                data-ng-click="removeFaIcon(field)"
                class="ikcs-btn ikcs-btn-dash ikcs-btn-trash"
                data-balloon="{{ languages.remove_icon }}"
                data-balloon-pos="down"
        >
            <i class="dashicons dashicons-trash"></i>
        </button>
    </div>
</div>