<div class="field-input-wr">
    <input
            type="{{ field.type }}"
            name="field_{{ item.id }}_{{ field.id }}"
            validate-on="field_{{ item.id }}_{{ field.id }}"
            data-ng-model="field.value"
            class="form-control form-control-sm"
            data-ng-class="field.type == 'tel' || field.type == 'email' ? 'form-control-padding-right' : ''"
            id="field_{{ item.id }}_{{ field.id }}"
            required
    />
    <div class="field-input-icon">
        <i class="dashicons dashicons-phone" data-ng-if="field.type == 'tel'"></i>
        <i class="dashicons dashicons-email-alt" data-ng-if="field.type == 'email'"></i>
    </div>
</div>

