<div class="ikcs_item ikcs-card" data-ng-repeat="(itemIndex, item) in ikcsAdd.fields" data-as-sortable-item>

    <div class="ikcs_head ikcs-card-header ikcs-card-header-sort">
        <div>
            <div class="ikcs_head-sort">#{{ $index+1 }}</div>
            <div class="ikcs_head-name" data-ng-if="item.label != '' || item.label != ' '">{{ item.label }}</div>
            <div class="ikcs_head-name" data-ng-if="item.label == '' || item.label == ' '">---</div>
        </div>

        <ul class="actions">
            <li data-ng-click="removeItem($index)"><i class="wp-menu-image dashicons-before dashicons-trash"></i></li>
            <li data-ng-click="item.open = !item.open">
                <i class="wp-menu-image dashicons-before dashicons-arrow-up" data-ng-if="item.open"></i>
                <i class="wp-menu-image dashicons-before dashicons-arrow-down" data-ng-if="!item.open"></i>
            </li>
        </ul>
    </div>

    <div class="ikcs_body" data-ng-show="item.open">

        <div class="form-wrapper">
            <div class="form-item">
                <div class="form-group">
                    <label class="fg-label"><?php echo __( 'Wprowadż nazwę pola', 'ikcs-trans' ); ?></label>
                    <input
                            type="text"
                            data-ng-model="item.label"
                            class="form-control form-control-sm"
                    />
                </div>
            </div>

            <div class="form-item">
                <div class="form-group">
                    <label class="fg-label"><?php echo __( 'Wprowadż identyfikator pola', 'ikcs-trans' ); ?></label>
                    <input
                            type="text"
                            data-ng-model="item.id"
                            class="form-control form-control-sm"
                    />
                </div>
            </div>

            <div class="form-item">
                <div class="form-group">
                    <label class="fg-label"><?php echo __( 'Rodzaj pola', 'ikcs-trans' ); ?></label>
                    <select data-ng-model="item.type" class="form-control form-control-sm">
                        <option value="text">Text</option>
                        <option value="tel">Telefon</option>
                        <option value="email">Email</option>
                        <option value="number">Liczba</option>
                        <option value="link">Link</option>
                        <option value="textarea">Duży obszar tekstowy (Textarea)</option>
                        <option value="checkbox">Akceptowanie (Checkbox)</option>
                        <option value="radio">Pole wyboru (Radio)</option>
                        <option value="trueorfalse">Tak lub nie (true/false)</option>
                        <option value="fa">Font Awesome</option>
                        <option value="repeater_object">Objekt pul</option>
                    </select>
                </div>
            </div>

            <div class="textarea-fields" data-ng-if="item.type == 'textarea'">
                <div class="form-item">
                    <div class="form-group">
                        <label class="fg-label"><?php echo __( 'Ilość wierszy', 'ikcs-trans' ); ?></label>
                        <input type="number" data-ng-model="item.textarea_rows" class="form-control form-control-sm" autocomplete="off" />
                    </div>
                </div>
            </div>

            <div class="repeater" data-ng-if="item.type == 'repeater_object'">
                <div class="ikcs_items-header">
                    <div class="ikcs_head ikcs-card-header ikcs-card-header-sort">
                        <div>
                            <div class="ikcs_head-sort">#</div>
                            <div class="ikcs_head-name"><?php echo __( 'Nazwa pola', 'ikcs-trans' ); ?></div>
                        </div>
                    </div>
                </div>
                <div class="ikcs_repeater_items" ui-sortable="sortableOptions">
                    <div data-ng-repeat="item in item.repeater_fields" data-as-sortable-item>


                    </div>
                </div>
                <div class="add-new-item">
                    <button type="button" class="ikcs-btn" data-ng-click="addNewSubSection($index)"><?php echo __( 'Dodaj nowe pole', 'ikcs-trans' ); ?></button>
                </div>
            </div>

            <div class="form-item">
                <div class="radio-label fg-label"><?php echo __('Czy to pole jest wymagane ?', 'ikcs-trans' ); ?></div>
                <div>
                    <label class="radio-item radio-inline">
                        <input
                                type="radio"
                                name="fields[{{itemIndex}}][required]"
                                data-ng-model="item.required"
                                data-ng-value="true"
                                value="true"
                        />
                        <span class="crs-icon"></span>
                        <span class="crs-text"><?php echo __( 'Tak', 'ikcs-trans' ); ?></span>
                    </label>
                    <label class="radio-item radio-inline">
                        <input
                                type="radio"
                                name="fields[{{itemIndex}}][required]"
                                data-ng-model="item.required"
                                data-ng-value="false"
                                value="false"
                        />
                        <span class="crs-icon"></span>
                        <span class="crs-text"><?php echo __( 'Nie', 'ikcs-trans' ); ?></span>
                    </label>
                </div>
            </div>

            <!-- Dodnie elementów dla checkbox i radio -->
            <div class="checkbox_radio-fields" data-ng-if="item.type == 'checkbox' || item.type == 'radio'">
                <div class="form-item">
                    <div class="mp-inner-title"><?php echo __( 'Opcje', 'ikcs-trans' ); ?></div>
                    <div class="display-table no-bg small-table">
                        <div class="table-row" data-ng-repeat="option in item.field_options">
                            <div class="table-col pd-right-only table-checkbox-default" data-ng-if="item.type == 'checkbox'">
                                <div class="form-group">
                                    <label class="fg-label">&nbsp;</label>
                                    <div>
                                        <label class="checkbox-item">
                                            <input
                                                    type="checkbox"
                                                    data-ng-model="option.checked"
                                                    data-ng-init="option.checked ? option.checked : option.checked = false"
                                                    data-ng-true-value="true"
                                                    data-ng-false-value="false"
                                            />
                                            <span class="crs-icon"></span>
                                            <span class="crs-text"><?php echo __( 'Zaznać domyślnie', 'ikcs-trans' ); ?></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="table-col pd-right-only">
                                <div class="form-group">
                                    <label class="fg-label"><?php echo __( 'Wartość', 'ikcs-trans' ); ?></label>
                                    <input
                                            type="text"
                                            data-ng-model="option.value"
                                            class="form-control form-control-sm"
                                    />
                                </div>
                            </div>
                            <div class="table-col pd-left-only">
                                <div class="form-group">
                                    <label class="fg-label"><?php echo __( 'Etyketa', 'ikcs-trans' ); ?></label>
                                    <input
                                            type="text"
                                            data-ng-model="option.label"
                                            class="form-control form-control-sm"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="add-checkbox_radio">
                        <button
                                type="button"
                                class="ikcs-btn"
                                data-ng-click="addCheckboxItem(itemIndex)">
                            <?php echo __( 'Dodaj element', 'ikcs-trans' ); ?>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-item" data-ng-if="item.type == 'trueorfalse'">
                <div class="form-group">
                    <label class="fg-label"><?php echo __( 'Etykieta', 'ikcs-trans' ); ?></label>
                    <input
                            type="text"
                            data-ng-model="item.trueorfalse_label"
                            data-ng-init="item.trueorfalse_label ? item.trueorfalse_label : item.trueorfalse_label = '<?php echo __( 'Włącz/wyłąć', 'ikcs-trans' ); ?>'"
                            class="form-control form-control-sm"
                    />
                </div>
            </div>

            <div class="form-item" data-ng-if="item.type == 'trueorfalse'">
                <label class="switch-item switch-inline">
                    <input
                            type="checkbox"
                            data-ng-model="item.field_option_checked"
                            data-ng-init="item.field_option_checked ? item.field_option_checked : item.field_option_checked = false"
                            data-ng-true-value="true"
                            data-ng-false-value="false"
                    />
                    <span class="crs-icon"></span>
                    <span class="crs-text"><?php echo __( 'Włącz/wyłąć domyślnie', 'ikcs-trans' ); ?></span>
                </label>
            </div>

            <div class="form-item" data-ng-if="item.type != 'checkbox' && item.type != 'radio' && item.type != 'trueorfalse' && item.type != 'fa'">
                <div class="form-group">
                    <label class="fg-label"><?php echo __( 'Domyślna wartość pola', 'ikcs-trans' ); ?></label>
                    <input
                            type="text"
                            data-ng-model="item.value"
                            class="form-control form-control-sm"
                    />
                </div>
            </div>

            <div class="form-item" data-ng-if="item.type == 'radio' && item.field_options && item.field_options.length>0" >
                <div class="form-group">
                    <label class="fg-label"><?php echo __( 'Domyślna wartość', 'ikcs-trans' ); ?></label>
                    <select data-ng-model="item.field_option_checked" class="form-control form-control-sm">
                        <option
                                value="{{ default_item.value }}"
                                ng-repeat="default_item in item.field_options"
                        >
                            {{ default_item.label }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-item" data-ng-if="item.type == 'text' || item.type == 'textarea' || item.type == 'number'">
                <div class="form-group">
                    <label class="fg-label"><?php echo __( 'Minimalna ilość znaków', 'ikcs-trans' ); ?></label>
                    <input
                            type="number"
                            min="0"
                            data-ng-model="item.min_length"
                            class="form-control form-control-sm"
                    />
                </div>
            </div>

            <div class="form-item" data-ng-if="item.type == 'text' || item.type == 'textarea' || item.type == 'number'">
                <div class="form-group">
                    <label class="fg-label"><?php echo __( 'Maksymalna ilość znaków', 'ikcs-trans' ); ?></label>
                    <input
                            type="number"
                            min="0"
                            data-ng-model="item.max_length"
                            class="form-control form-control-sm"
                    />
                </div>
            </div>
        </div>
    </div>

</div>