// Container
$siteMinWidth: 320px;
$siteMaxWidth: 1200px;

// Font
$baseFontFamily: 'Raleway', sans-serif;
$baseFontWeighy: 400;
$baseFontSize: 14;
$baseFontColor: #000;

// Body
$baseBodyBackground: #fff;

// Colors
$baseDarkRedColor: #821517;
$baseYellowColor: #F1C40F;

// Images url
$imagesurl: '../../images/';

// Transitions
$baseTransition: 300ms ease;
$baseTransitionImageScale: 500ms ease;