    /*
    Flaticon icon font: Flaticon
    Creation date: 10/10/2016 12:24
    */

    @font-face {
  font-family: "Flaticon";
  src: url("../../fonts/Flaticon.eot");
  src: url("../../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../../fonts/Flaticon.woff") format("woff"),
       url("../../fonts/Flaticon.ttf") format("truetype"),
       url("../../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-charter:before { content: "\f100"; }
.flaticon-clutch:before { content: "\f101"; }
.flaticon-disc-brake:before { content: "\f102"; }
.flaticon-filter:before { content: "\f103"; }
.flaticon-generator:before { content: "\f104"; }
.flaticon-lamp:before { content: "\f105"; }
.flaticon-spark-plug:before { content: "\f106"; }
.flaticon-steering-wheel:before { content: "\f107"; }
.flaticon-suspension:before { content: "\f108"; }
.flaticon-timing-belt:before { content: "\f109"; }
    
    $font-Flaticon-charter: "\f100";
    $font-Flaticon-clutch: "\f101";
    $font-Flaticon-disc-brake: "\f102";
    $font-Flaticon-filter: "\f103";
    $font-Flaticon-generator: "\f104";
    $font-Flaticon-lamp: "\f105";
    $font-Flaticon-spark-plug: "\f106";
    $font-Flaticon-steering-wheel: "\f107";
    $font-Flaticon-suspension: "\f108";
    $font-Flaticon-timing-belt: "\f109";